.git
.gitignore
.env
.env.*
!.env.example
/vendor
/node_modules
/tests
/database/init
/storage/logs/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
.phpunit.result.cache
phpunit.xml
Dockerfile
.dockerignore
README.md
